<div>
    <h1>Por Pais</h1>
    <div class="separador"></div>
    
    <app-pais-input 
        (onEnter) = "buscar($event)"
        (onDebounce)= sugerencia($event)
        [placeholder] = "placeholder"> </app-pais-input>
    <ul >
        <li *ngFor="let item of paisSugerido"><a [routerLink] = "['/pais', item.alpha2Code]">{{item.name}}</a></li>
    </ul>
    
    <div class="separador"></div>



    <div class="dataPais" >
        <div class="contenido" *ngIf="!hayError">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
       
        <div *ngIf="hayError"  > {{mensaje}}</div>
      
    </div>
</div>