
.dataPais{
    display: inline-flex;

    justify-content: space-between;
    width: 100%;
}
h1{
  margin: 0;

}
.BanderaPais, .NombrePais, .PoblacionPais{
  width: 33%;
}

.titulo{
  width: 100%;
}
ul{
  list-style: none;
  display: block;
  width: 100%;
 padding: 0;
}
li{
  display: inline-flex;  
  width: 100%;
  text-align: center;
  justify-content: space-between;
 
}
li h3{
  margin: 0;
  
}


.separador{
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 0;
  
}

.bandera{
  height: 10vh;
  width: 10vw;
}

.bandera img{

  width: 70%;
}


.contenido{
  width: 100%;
}