
<div>
    <h1>Por Pais</h1>
    <div class="separador"></div>

    <app-pais-input 
        (onEnter) = "buscar($event)"
        (onDebounce)= sugerencia()
        [placeholder] = "placeholder"> 
    </app-pais-input>
    
    <div class="separador"></div>
    
    <div class="dataPais" *ngIf="!hayError">
        <div class="contenido">
            <app-pais-tabla 
                [paises]="paises">
            </app-pais-tabla>
        </div>
      
    </div>
</div>