<form (ngSubmit)="buscar()">       
    <input type="text"
    name="termino"
    [(ngModel)]="termino"
    (input)="teclaPresionada($event)"
    [placeholder]="placeholder">
</form>
<div class = "mensaje" *ngIf="hayError"> <h5> No se encontraron resultado para la busqueda {{termino}}</h5></div>
