<div class="titulo">
    <ul>
        <li>
            <h3>#</h3>
            <h3>Bandera</h3>
            <h3>Nombre</h3>
            <h3>Poblacion</h3>
            <h3>ver</h3>
        </li>
        <div class="separador"></div>                
    </ul>
    <ul >
        <li *ngFor="let item of paises; let i = index">
            <h4>{{i }}</h4>
            <div class="bandera">
                <img  [src]=item.flag>
            </div>           
            <h4>{{item.capital}}, {{item.name}}</h4>
            <h4>{{item.population | number}} </h4>
            <h4><a [routerLink] = "['/pais', item.alpha2Code]">ver...</a></h4>
        </li>
    
    </ul>
  

</div>
