html, body{
    height: 100vh;
    width: 100vw;
    font-family: 'Georama', sans-serif;  

}
.contenedor{
    display: inline-flex;
    width: 100%;
    /* flex-wrap: wrap; */
}
.menuPrincipal{
    width: 25%;
}

.pagDinamica{
    width: 70%;
    margin-left: 15px;
    margin-right: 15px;
}


