<div class="errorMensaje" *ngIf="!pais;  else divPais">
    <h3> Cargando... </h3>

</div>


<ng-template #divPais>

    <h1>País {{pais.name}} </h1>
    <div class="infoPais">
        <div class="contendor">
            <img [src]="pais.flag">
        </div>
        <div class="dataPais">
            <h5>Capítal: {{pais.capital}}</h5>
            <h5>Poblacion: {{pais.population | number}}</h5>
            <h5>Region: {{pais.region}}</h5>
            <h5>Sub region: {{pais.subregion}}</h5>
            <h5>Zona Horaria: {{pais.timezones}}</h5>
        </div>

    </div>


</ng-template>