.contendor{
    height: 40vh;
    width: 40vw;
    display: inline-block;
}
.contendor img{
    width: 100%;
}
.infoPais{
    display:inline-flex;
    flex-wrap: wrap;
    
   
}
.infoPais h5{
    display:block;
}
.dataPais{
    margin-left: 15px;

}