<h1>Paises de la region : {{regionActiva}}</h1>
<div *ngFor="let region of regiones">
    <button 
        (click)="seleccionRegion(region)"
        (click)="getPaisesxRegion(region)"
        [class]="getClass(region)" >{{region}}</button>

</div>
<ul>
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
</ul>
