<nav class="Menu_Navegacion">
    <h2>Busquedas </h2>
    <div class="separador"></div>
    <ul>
        <li >
         <button routerLink="" routerLinkActive = "active">Buscar Por País</button> 
        </li>
       <li routerLink="/region"  routerLinkActive="active">
        <button> Buscar por Región</button>
        </li>
        <li >
          <button routerLink="capital" routerLinkActive="active"> Por capital </button>
        </li>
        

    </ul>
</nav>