html, body{
    height: 100vh;
    width: 100%;
    font-family: 'Georama', sans-serif;  

}

.contenedor{
    display: inline-flex;
    width: 100%;
    /* flex-wrap: wrap; */
}
.nav{
   
    min-width: 20%;
}
.main{
    min-width: 20%;
    margin-left: 15px;
}
.Menu_Navegacion{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.Menu_Navegacion ul{
    margin: 0;
    list-style: none;
    padding: 10px;
    text-align: left;
    

}
.Menu_Navegacion h2{
    margin: 0;
   padding: 5px;
   color: white;

}
.Menu_Navegacion li{
    
    padding-bottom: 8px;

}
button{
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    cursor: pointer;
  
}
.separador{
    border: 1px solid rgb(193, 193, 193);
    margin: 10px 0;
    
  }
