/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
html, body{
    margin: 0;
    font-family: 'Georama', sans-serif;
}